.relative{
    z-index: 10; 
    position: relative;
  }
  .image-overlap{
   width:96px;
    position: relative;  
   margin-top:-250px;
      z-index: 20;
      color: #fff;
      font-weight: bold;
        
  }